{% extends 'base/base.html' %} {% block content %}

<div class="main-slider">
    <div id="slider">
        <div class="ls-slide"
            data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
            <img src="static/img/1.jpg" class="ls-bg" alt="" />
        </div>
        <!-- ls-slide -->

        <div class="ls-slide"
            data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
            <img src="static/img/2.jpg" class="ls-bg" alt="" />
        </div>
        <!-- ls-slide -->
    </div>
    <!-- slider -->
</div>
<!-- main-slider -->

<section class="section blog-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-posts">
                    <div class="single-post border">
                        <div class="image-wrapper">
                            <img src="static/img/blog/ek_bulbul_hai_ke_mahwe_tarannum.png" alt="Blog Image" />
                        </div>

                        <div class="icons">
                            <div class="left-area">
                                <a class="btn caegory-btn" href="#"><b>Shayari</b></a>
                            </div>
                            <ul class="right-area social-icons">
                                <li>
                                    <a href="#"><i class="ri-share-fill"></i>Share</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ri-heart-line"></i>03</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ri-message-line"></i>06</a>
                                </li>
                            </ul>
                        </div>
                        <p class="date"><em>Monday, October 13, 2017</em></p>
                        <h3 class="title">
                            <a href="#"><b class="light-color">ایک بلبل ہے کہ ہے محو ترنم اب تک | Ek Bulbul Hai Ke Mahwe
                                    Tarannum Ab Tak</b></a>
                        </h3>
                        <p>
                            www.islamic-shayari.tech ایک بلبل ہے کہ ہے محو ترنم اب تک اس کے
                            سینے میں …
                        </p>
                        <a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
                    </div>
                    <!-- single-post -->

                    <div class="single-post">
                        <div class="image-wrapper">
                            <img src="static/img/blog/ghar_ki_is_baar_mukammal_main_talaashi.png" alt="Blog Image" />
                        </div>

                        <div class="icons">
                            <div class="left-area">
                                <a class="btn caegory-btn" href="#"><b>Shayari</b></a>
                            </div>
                            <ul class="right-area social-icons">
                                <li>
                                    <a href="#"><i class="ri-share-fill"></i>Share</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ri-heart-line"></i>03</a>
                                </li>
                                <li>
                                    <a href="#"><i class="ri-message-line"></i>06</a>
                                </li>
                            </ul>
                        </div>
                        <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                        <h3 class="title">
                            <a href="#"><b class="light-color">گھر کی اس بار مکمل میں تلاشی لوں گا | Ghar Ki Is Baar
                                    Mukammal Main Talaashi Lunga</b></a>
                        </h3>
                        <p>
                            www.islamic-shayari.tech گھر کی اس بار مکمل میں تلاشی لوں گا غم چھپا کر م…
                        </p>
                        <a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
                    </div>
                    <!-- single-post -->

                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="single-post">
                                <div class="image-wrapper">
                                    <img src="static/img/blog/hai_nazar_me_jamale_habibe_khuda.png" alt="Blog Image" />
                                </div>

                                <div class="icons">
                                    <div class="left-area">
                                        <a class="btn caegory-btn" href="#"><b>Shayari</b></a>
                                    </div>
                                    <ul class="right-area social-icons">
                                        <li>
                                            <a href="#"><i class="ri-share-fill"></i>Share</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="ri-heart-line"></i>03</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="ri-message-line"></i>06</a>
                                        </li>
                                    </ul>
                                </div>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                                <h4 class="title">
                                    <a href="#"><b class="light-color">ہے نظر میں جمال حبیب خدا | Hai Nazar Me
                                            Jamal-e-Habeeb-e-Khuda</b></a>
                                </h4>
                                <p>
                                    www.islamic-shayari.tech ہے نظر میں جمال حبیب خدا ہے نظر میں جمال حبیب خدا …
                                </p>
                                <a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
                            </div>
                            <!-- single-post -->
                        </div>
                        <!-- col-sm-6 -->

                        <div class="col-lg-6 col-md-12">
                            <div class="single-post">
                                <div class="image-wrapper">
                                    <img src="static/img/blog/is_karam_ka_karoon_shukr_kaise_ada.png"
                                        alt="Blog Image" />
                                </div>

                                <div class="icons">
                                    <div class="left-area">
                                        <a class="btn caegory-btn" href="#"><b>Shayari</b></a>
                                    </div>
                                    <ul class="right-area social-icons">
                                        <li>
                                            <a href="#"><i class="ri-share-fill"></i>Share</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="ri-heart-line"></i>03</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="ri-message-line"></i>06</a>
                                        </li>
                                    </ul>
                                </div>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                                <h4 class="title">
                                    <a href="#"><b class="light-color">اس کرم کا کروں شکر کیسے ادا | Is Karam Ka Karoon
                                            Shukr Kaise Adaa</b></a>
                                </h4>
                                <p>
                                    www.islamic-shayari.tech اس کرم کا کروں شکر کیسے ادا اس کرم کا کروں شکر کیسے …
                                </p>
                                <a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
                            </div>
                            <!-- single-post -->
                        </div>
                        <!-- col-sm-6 -->

                        <div class="col-lg-6 col-md-12">
                            <div class="single-post">
                                <div class="image-wrapper">
                                    <img src="static/img/blog/khuda_ki_karigari_ka_jalwa.png" alt="Blog Image" />
                                </div>

                                <div class="icons">
                                    <div class="left-area">
                                        <a class="btn caegory-btn" href="#"><b>Shayari</b></a>
                                    </div>
                                    <ul class="right-area social-icons">
                                        <li>
                                            <a href="#"><i class="ri-share-fill"></i>Share</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="ri-heart-line"></i>03</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="ri-message-line"></i>06</a>
                                        </li>
                                    </ul>
                                </div>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                                <h4 class="title">
                                    <a href="#"><b class="light-color">خدا کی کاریگری کا جلوہ بھرے جہاں میں کہاں نہیں ہے
                                            | Khuda Ki Karigari Ka Jalwa Bhare Jahan Me Kahan Nahi Hai</b></a>
                                </h4>
                                <p>
                                    خدا کی کاریگری کا جلوہ بھرے جہاں میں کہاں نہیں ہے زمیں پہ بن باپ …

                                </p>

                                <a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
                            </div>
                            <!-- single-post -->
                        </div>
                        <!-- col-sm-6 -->

                        <div class="col-lg-6 col-md-12">
                            <div class="single-post">
                                <div class="image-wrapper">
                                    <img src="static/img/blog/meri_dua_hai_teri_aarzoo_badal_jaye.png"
                                        alt="Blog Image" />
                                </div>

                                <div class="icons">
                                    <div class="left-area">
                                        <a class="btn caegory-btn" href="#"><b>Shayari</b></a>
                                    </div>
                                    <ul class="right-area social-icons">
                                        <li>
                                            <a href="#"><i class="ri-share-fill"></i>Share</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="ri-heart-line"></i>03</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="ri-message-line"></i>06</a>
                                        </li>
                                    </ul>
                                </div>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                                <h4 class="title">
                                    <a href="#"><b class="light-color">میری دعا ہے تیری آرزو بدل جائے | Meri Dua Hai
                                            Teri Aarzoo Badal Jaye</b></a>
                                </h4>
                                <p>
                                    www.islamic-shayari.tech میری دعا ہے تیری آرزو بدل جائے تیری دعا سے قضا تو بدلے
                                </p>
                                <br />
                                <a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
                            </div>
                            <!-- single-post -->
                        </div>
                        <!-- col-sm-6 -->

                        <div class="col-lg-12 col-md-12 p-3" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                            <div class="single-post1 post-style-2" style="margin-bottom: 60px;">
                                <div class="image-wrapper width-50 left-area">
                                    <img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png"
                                        alt="Blog Image" />
                                </div>

                                <div class="post-details width-50 right-area">
                                    <div class="icons">
                                        <div class="left-area">
                                            <a class="btn caegory-btn" href="#"><b>Shayari</b></a>
                                        </div>
                                        <ul class="right-area social-icons">
                                            <li>
                                                <a href="#"><i class="ri-share-fill m-1"></i>Share</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="ri-heart-line m-1"></i>03</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="ri-message-line m-1"></i>06</a>
                                            </li>
                                        </ul>
                                    </div><br><br>
                                    <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                                    <h3 class="title">
                                        <a href="#"><b class="light-color">How to througn the best engagement
                                                party</b></a>
                                    </h3>
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                        illo veritatis et quasi dolore magnam aliquam quaerat
                                        voluptatem.
                                    </p>
                                    <a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
                                </div>
                                <!-- post-details -->
                            </div>
                            <!-- single-post -->
                        </div>
                        <!-- col-sm-6 -->
                    </div>
                    <!-- row -->

                    <a class="btn load-more-btn" target="_blank" href="#">LOAD OLDER POSTS</a>
                </div>
                <!-- blog-posts -->
            </div>
            <!-- col-lg-4 -->

            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">
                    <div class="sidebar-section about-author center-text">
                        <div class="author-image">
                            <img src="static/img/B612_20191106_231445_480.jpg" alt="Autohr Image"
                                style="width: 100%; height: auto;border-radius:20px;" />
                        </div>

                        <ul class="social-icons">
                            <li>
                                <a href="#"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ri-twitter-line"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ri-vimeo-line"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ri-pinterest-line"></i></a>
                            </li>
                        </ul>
                        <!-- right-area -->

                        <h4 class="author-name">
                            <b class="light-color">Owais Ahmad</b>
                        </h4>
                        <p>
                            This is Owais Ahmad andshayari-e-iqbal.blogspot is my blog. In this blog, I am updating
                            motivational shayari like Allama Iqbal and many other poets.
                        </p>

                        {% comment %} <div class="signature-image">
                            <img src="images/signature-image.png" alt="Signature Image" />
                        </div> {% endcomment %}
                        <a class="read-more-link" href="#"><b>READ MORE</b></a>
                    </div>
                    <!-- sidebar-section about-author -->

                    <div class="sidebar-section src-area">
                        <form action="post">
                            <input class="src-input" type="text" placeholder="Search" />
                            <button class="src-btn" type="submit">
                                <i class="ri-search-line"></i>
                            </button>
                        </form>
                    </div>
                    <!-- sidebar-section src-area -->

                    <div class="sidebar-section newsletter-area">
                        <h5 class="title"><b>Subscribe to our newsletter</b></h5>
                        <form action="post">
                            <input class="email-input" type="text" placeholder="Your email here" />
                            <button class="btn btn-2" type="submit">SUBSCRIBE</button>
                        </form>
                    </div>
                    <!-- sidebar-section newsletter-area -->

                    <div class="sidebar-section category-area">
                        <h4 class="title"><b class="light-color">Categories</b></h4>
                        <a class="category" href="#">
                            {% comment %} <img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png"
                                alt="Category Image" /> {% endcomment %}
                            <h6 class="name">Allama Iqbal Shayari</h6>
                        </a>

                        <a class="category" href="#">
                            {% comment %} <img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png"
                                alt="Category Image" /> {% endcomment %}
                            <h6 class="name">Motivational Shayari</h6>
                        </a>

                        <a class="category" href="#">
                            {% comment %} <img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png"
                                alt="Category Image" /> {% endcomment %}
                            <h6 class="name">Self written</h6>
                        </a>
                        <a class="category" href="#">
                            {% comment %} <img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png"
                                alt="Category Image" /> {% endcomment %}
                            <h6 class="name">Hamd</h6>
                        </a>
                        <a class="category" href="#">
                            {% comment %} <img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png"
                                alt="Category Image" /> {% endcomment %}
                            <h6 class="name">Naat</h6>
                        </a>
                        <a class="category" href="#">
                            {% comment %} <img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png"
                                alt="Category Image" /> {% endcomment %}
                            <h6 class="name">Nazm</h6>
                        </a>
                    </div>
                    <!-- sidebar-section category-area -->

                    <div class="sidebar-section latest-post-area">
                        <h4 class="title"><b class="light-color">Latest Posts</b></h4>

                        <div class="latest-post" href="#">
                            <div class="l-post-image">
                                <img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png"
                                    alt="Category Image" />
                            </div>
                            <div class="post-info">
                                <a class="btn category-btn" href="#">Shayari</a>
                                <h5>
                                    <a href="#"><b class="light-color">One more night in the clubs</b></a>
                                </h5>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                            </div>
                        </div>

                        <div class="latest-post" href="#">
                            <div class="l-post-image">
                                <img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png"
                                    alt="Category Image" />
                            </div>
                            <div class="post-info">
                                <a class="btn category-btn" href="#">Shayari</a>
                                <h5>
                                    <a href="#"><b class="light-color">Shayari lights in winter</b></a>
                                </h5>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                            </div>
                        </div>
                        <div class="latest-post" href="#">
                            <div class="l-post-image">
                                <img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png"
                                    alt="Category Image" />
                            </div>
                            <div class="post-info">
                                <a class="btn category-btn" href="#">Shayari</a>
                                <h5>
                                    <a href="#"><b class="light-color">How to Shayari with no money</b></a>
                                </h5>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                            </div>
                        </div>

                        <div class="latest-post" href="#">
                            <div class="l-post-image">
                                <img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png"
                                    alt="Category Image" />
                            </div>
                            <div class="post-info">
                                <a class="btn category-btn" href="#">Shayari</a>
                                <h5>
                                    <a href="#"><b class="light-color">Smile 10 times a day</b></a>
                                </h5>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                            </div>
                        </div>
                    </div>
                    <!-- sidebar-section latest-post-area -->

                    <div class="sidebar-section advertisement-area">
                        <h4 class="title"><b class="light-color">Advertisement</b></h4>
                        <a class="advertisement-img" href="#">
                            <img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png"
                                alt="Advertisement Image" />
                            <h6 class="btn btn-2 discover-btn">DISCOVER</h6>
                        </a>
                    </div>
                    <!-- sidebar-section advertisement-area -->

                    <div class="sidebar-section instagram-area">
                        <h4 class="title"><b class="light-color">Instagram</b></h4>
                        <ul class="instagram-img">
                            <li>
                                <a href="#"><img src="images/instragram-side-1-150x150.jpg" alt="Instagram Image" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/instragram-side-2-150x150.jpg" alt="Instagram Image" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/instragram-side-3-150x150.jpg" alt="Instagram Image" /></a>
                            </li>
                            <div class="clearfix"></div>
                            <li>
                                <a href="#"><img src="images/instragram-side-4-150x150.jpg" alt="Instagram Image" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/instragram-side-5-150x150.jpg" alt="Instagram Image" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="images/instragram-side-6-150x150.jpg" alt="Instagram Image" /></a>
                            </li>
                        </ul>
                    </div>
                    <!-- sidebar-section instagram-area -->

                    <div class="sidebar-section tags-area">
                        <h4 class="title"><b class="light-color">Tags</b></h4>
                        <ul class="tags">
                            <li><a class="btn" href="#">Emotional</a></li>
                            <li><a class="btn" href="#">loving</a></li>
                            <li><a class="btn" href="#">Shayari</a></li>
                            <li><a class="btn" href="#">poerty</a></li>
                            <li><a class="btn" href="#">Shadgi</a></li>
                            <li><a class="btn" href="#">Yaari</a></li>
                            <li><a class="btn" href="#">Mausom</a></li>
                        </ul>
                    </div>
                    <!-- sidebar-section tags-area -->
                </div>
                <!-- about-author -->
            </div>
            <!-- col-lg-4 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!-- section -->
<section class="footer-instagram-area">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="title"><b class="light-color">Follow me &copy; instagram</b></h5>
            </div><!-- col-lg-4 -->
        </div><!-- row -->
    </div><!-- container -->

    <ul class="instagram">
        <li><a href="#"><img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png" alt="Instagram Image"></a>
        </li>
        <li><a href="#"><img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png" alt="Instagram Image"></a>
        </li>
        <li><a href="#"><img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png" alt="Instagram Image"></a>
        </li>
        <li><a href="#"><img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png" alt="Instagram Image"></a>
        </li>
        <li><a href="#"><img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png" alt="Instagram Image"></a>
        </li>
        <li><a href="#"><img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png" alt="Instagram Image"></a>
        </li>
        <li><a href="#"><img src="static/img/blog/nabi_ka_lab_par_jo_zikr_hai_bemisaal.png" alt="Instagram Image"></a>
        </li>

    </ul>
</section><!-- section -->
{% comment %} ===================== {% endcomment %}
{% comment %} <div class="container mt-4">
    <h1 class="text-center mb-4">Welcome to Shayari</h1>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Love Shayari</h5>
                    <p class="card-text">
                        Explore beautiful love shayaris that touch your heart and express
                        your feelings.
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Life Shayari</h5>
                    <p class="card-text">
                        Deep and meaningful shayaris about life's experiences and wisdom.
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Friendship Shayari</h5>
                    <p class="card-text">
                        Beautiful verses celebrating the bond of friendship and
                        companionship.
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
{% endblock %}