{% extends 'base/base.html' %} {% block content %}

<div class="main-slider">
  <div id="slider">
    <div class="ls-slide"
      data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
      <img src="static/img/1.jpg" class="ls-bg" alt="" />
    </div>
    <!-- ls-slide -->

    <div class="ls-slide"
      data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
      <img src="static/img/2.jpg" class="ls-bg" alt="" />
    </div>
    <!-- ls-slide -->
  </div>
  <!-- slider -->
</div>
<!-- main-slider -->

<section class="section blog-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="blog-posts">

          <div class="d-flex filter my-3">
            <select>
              <option value="latest">Latest</option>
              <option value="oldest">Oldest</option>
              <option value="most_viewed">Most Viewed</option>
              <option value="most_liked">Most Liked</option>
            </select>
          </div>
           <h5 class="subtitle my-3">Famous Urdu Ghazals Collection</h5>
          <div class="row">
           
            <div class="col-lg-4">
              <div class="single-post">
                <div class="image-wrapper">
                  <img src="static/img/blog/hai_nazar_me_jamale_habibe_khuda.png" alt="Blog Image" />
                </div>

                <div class="icons">
                  <div class="left-area">
                    <a class="btn caegory-btn" href="#"><b>Shayari</b></a>
                  </div>
                  <ul class="right-area social-icons">
                    <li>
                      <a href="#"><i class="ri-share-fill"></i>Share</a>
                    </li>
                    <li>
                      <a href="#"><i class="ri-heart-line"></i>03</a>
                    </li>
                    <li>
                      <a href="#"><i class="ri-message-line"></i>06</a>
                    </li>
                  </ul>
                </div>
                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                <h4 class="title">
                  <a href="#"><b class="light-color-text">ہے نظر میں جمال حبیب خدا | Hai Nazar Me
                      Jamal-e-Habeeb-e-Khuda</b></a>
                </h4>
                <p>
                  www.islamic-shayari.tech ہے نظر میں جمال حبیب خدا ہے نظر میں جمال حبیب خدا …
                </p>
                <a class="read-more" href="#"><b>READ MORE</b></a>
              </div>
              <!-- single-post -->
            </div>
            <!-- col-sm-6 -->
            <div class="col-lg-4">
              <div class="single-post">
                <div class="image-wrapper">
                  <img src="static/img/blog/is_karam_ka_karoon_shukr_kaise_ada.png" alt="Blog Image" />
                </div>

                <div class="icons">
                  <div class="left-area">
                    <a class="btn caegory-btn" href="#"><b>Shayari</b></a>
                  </div>
                  <ul class="right-area social-icons">
                    <li>
                      <a href="#"><i class="ri-share-fill"></i>Share</a>
                    </li>
                    <li>
                      <a href="#"><i class="ri-heart-line"></i>03</a>
                    </li>
                    <li>
                      <a href="#"><i class="ri-message-line"></i>06</a>
                    </li>
                  </ul>
                </div>
                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                <h4 class="title">
                  <a href="#"><b class="light-color-text">اس کرم کا کروں شکر کیسے ادا | Is Karam Ka Karoon Shukr Kaise
                      Adaa</b></a>
                </h4>
                <p>
                  www.islamic-shayari.tech اس کرم کا کروں شکر کیسے ادا اس کرم کا کروں
                </p>
                <a class="read-more" href="#"><b>READ MORE</b></a>
              </div>

            </div>

            <div class="col-lg-4">
              <div class="single-post">
                <div class="image-wrapper">
                  <img src="static/img/blog/khuda_ki_karigari_ka_jalwa.png" alt="Blog Image" />
                </div>

                <div class="icons">
                  <div class="left-area">
                    <a class="btn caegory-btn" href="#"><b>Shayari</b></a>
                  </div>
                  <ul class="right-area social-icons">
                    <li>
                      <a href="#"><i class="ri-share-fill"></i>Share</a>
                    </li>
                    <li>
                      <a href="#"><i class="ri-heart-line"></i>03</a>
                    </li>
                    <li>
                      <a href="#"><i class="ri-message-line"></i>06</a>
                    </li>
                  </ul>
                </div>
                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                <h4 class="title">
                  <a href="#"><b class="light-color-text">خدا کی کاریگری کا جلوہ بھرے جہاں میں کہاں نہیں ہے | Khuda Ki
                      Karigari Ka Jalwa Bhare Jahan Me Kahan Nahi Hai</b></a>
                </h4>
                <p>
                  خدا کی کاریگری کا جلوہ بھرے جہاں میں کہاں نہیں ہے 

                </p>

                <a class="read-more" href="#"><b>READ MORE</b></a>
              </div>
              <!-- single-post -->
            </div>

            <div class="col-lg-4">
              <div class="single-post">
                <div class="image-wrapper">
                  <img src="static/img/blog/meri_dua_hai_teri_aarzoo_badal_jaye.png" alt="Blog Image" />
                </div>

                <div class="icons">
                  <div class="left-area">
                    <a class="btn caegory-btn" href="#"><b>Shayari</b></a>
                  </div>
                  <ul class="right-area social-icons">
                    <li>
                      <a href="#"><i class="ri-share-fill"></i>Share</a>
                    </li>
                    <li>
                      <a href="#"><i class="ri-heart-line"></i>03</a>
                    </li>
                    <li>
                      <a href="#"><i class="ri-message-line"></i>06</a>
                    </li>
                  </ul>
                </div>
                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                <h4 class="title">
                  <a href="#"><b class="light-color-text">میری دعا ہے تیری آرزو بدل جائے | Meri Dua Hai Teri Aarzoo Badal
                      Jaye</b></a>
                </h4>
                <p>
                  www.islamic-shayari.tech میری دعا ہے تیری آرزو بدل جائے تیری دعا سے قضا تو بدلے
                </p>
                <br />
                <a class="read-more" href="#"><b>READ MORE</b></a>
              </div>



              <!-- single-post -->
            </div>


            <div class="col-lg-4">
              <div class="single-post">
                <div class="image-wrapper">
                  <img src="static/img/blog/khuda_ki_karigari_ka_jalwa.png" alt="Blog Image" />
                </div>

                <div class="icons">
                  <div class="left-area">
                    <a class="btn caegory-btn" href="#"><b>Shayari</b></a>
                  </div>
                  <ul class="right-area social-icons">
                    <li>
                      <a href="#"><i class="ri-share-fill"></i>Share</a>
                    </li>
                    <li>
                      <a href="#"><i class="ri-heart-line"></i>03</a>
                    </li>
                    <li>
                      <a href="#"><i class="ri-message-line"></i>06</a>
                    </li>
                  </ul>
                </div>
                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                <h4 class="title">
                  <a href="#"><b class="light-color-text">خدا کی کاریگری کا جلوہ بھرے جہاں میں کہاں نہیں ہے | Khuda Ki
                      Karigari Ka Jalwa Bhare Jahan Me Kahan Nahi Hai</b></a>
                </h4>
                <p>
                  خدا کی کاریگری کا جلوہ بھرے جہاں میں کہاں نہیں ہے زمیں پہ بن باپ …

                </p>

                <a class="read-more" href="#"><b>READ MORE</b></a>
              </div>
              <!-- single-post -->
            </div>

            <div class="col-lg-4">
              <div class="single-post">
                <div class="image-wrapper">
                  <img src="static/img/blog/meri_dua_hai_teri_aarzoo_badal_jaye.png" alt="Blog Image" />
                </div>

                <div class="icons">
                  <div class="left-area">
                    <a class="btn caegory-btn" href="#"><b>Shayari</b></a>
                  </div>
                  <ul class="right-area social-icons">
                    <li>
                      <a href="#"><i class="ri-share-fill"></i>Share</a>
                    </li>
                    <li>
                      <a href="#"><i class="ri-heart-line"></i>03</a>
                    </li>
                    <li>
                      <a href="#"><i class="ri-message-line"></i>06</a>
                    </li>
                  </ul>
                </div>
                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                <h4 class="title">
                  <a href="#"><b class="light-color-text">میری دعا ہے تیری آرزو بدل جائے | Meri Dua Hai Teri Aarzoo Badal
                      Jaye</b></a>
                </h4>
                <p>
                  www.islamic-shayari.tech میری دعا ہے تیری آرزو بدل جائے تیری دعا سے قضا تو بدلے
                </p>
                <br />
                <a class="read-more" href="#"><b>READ MORE</b></a>
              </div>



              <!-- single-post -->
            </div>

          </div>
        </div>
      </div>

      <!-- container -->
</section>
<!-- section -->

{% comment %} ===================== {% endcomment %}
{% comment %} <div class="container mt-4">
  <h1 class="text-center mb-4">Welcome to Shayari</h1>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Love Shayari</h5>
          <p class="card-text">
            Explore beautiful love shayaris that touch your heart and express
            your feelings.
          </p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Life Shayari</h5>
          <p class="card-text">
            Deep and meaningful shayaris about life's experiences and wisdom.
          </p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Friendship Shayari</h5>
          <p class="card-text">
            Beautiful verses celebrating the bond of friendship and
            companionship.
          </p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}
{% endblock %}