/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */
html {
  font-size: 100%;
  height: 100%;
  overflow-x: hidden;
  touch-action: manipulation;
}

body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  color: #000;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
li,
img,
input,
button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  font-weight: inherit;
}

p {
  line-height: 1.6;
  font-size: 1.05em;
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  color: #555;
}

h1 {
  font-size: 4em;
  line-height: 1;
}

h2 {
  font-size: 2.8em;
  line-height: 1.1;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 0.9em;
  letter-spacing: 1px;
}

a,
button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

a:focus,
a:active,
a:hover,
button:focus,
button:active,
button:hover,
a b.light-color:hover {
  text-decoration: none;
  color: #ffad4d;
}

b {
  font-weight: 500;
}

img {
  width: 100%;
}

li {
  list-style: none;
  display: inline-block;
}

span {
  display: inline-block;
}

button {
  outline: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

b.light-color {
  /* font-size: 12px !important; */
  color: #549558;
}

.date em {
  font-size: 11px;
}

/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */

.btn {
  font-size: 0.9em;
  /* padding: 15px 30px; */
  border-radius: 1px;
  letter-spacing: 2px;
  border: 1px solid #d09e8e;
  background: #d09e8e;
  color: #fff;
}

.btn:hover {
  color: #d09e8e;
  background: none;
}

.btn-2 {
  background: none;
  color: #ffad4d;
}

.btn-2:hover {
  background: #ffad4d;
  color: #fff;
}

.section {
  padding: 70px 0 40px;
}

.section .heading {
  padding-bottom: 70px;
}

.center-text {
  text-align: center;
}

.color-white {
  color: #fff;
}

.display-table {
  display: table;
  height: 100%;
  width: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.card {
  background: transparent;
  border: 0;
}

.no-side-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.no-left-padding {
  padding-left: 0px;
}

.no-right-padding {
  padding-right: 0px;
}

.icon {
  font-size: 2em;
}

.left-area {
  float: left;
}

.right-area {
  float: right;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

::-webkit-input-placeholder {
  font-size: 0.9em;
  letter-spacing: 1px;
}

::-moz-placeholder {
  font-size: 0.9em;
  letter-spacing: 1px;
}

:-ms-input-placeholder {
  font-size: 0.9em;
  letter-spacing: 1px;
}

:-moz-placeholder {
  font-size: 0.9em;
  letter-spacing: 1px;
}



/* ---------------------------------
4. SLIDER
--------------------------------- */

.main-slider {
  margin-top: 265px;
  position: relative;
  height: calc(100vh - 265px);
  min-height: 550px;
  width: 100%;
  overflow: hidden;
}

.main-slider .slider-content {
  padding: 25px 60px 25px 40px !important;
  border-radius: 3px !important;
  background: rgba(0, 0, 0, .6);
  color: #fff;
}

.slider-content .btn {
  padding: 7px 15px;
}

.slider-content .title {
  margin: 10px 0 0;
  letter-spacing: 3px;
}


#slider {
  height: 100%;
  width: 100%;
}

.main-slider .ls-nav-prev,
.main-slider .ls-nav-next {
  display: block !important;
  opacity: 1 !important;
}


/* ---------------------------------
5. SINGLE POST
--------------------------------- */

.blog-posts .single-post {
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.single-post .icons {
  overflow: hidden;
  line-height: 30px;
  margin: 30px 0 10px;
}

.single-post .icons .caegory-btn {
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
}

.single-post .icons ul.social-icons {
  color: #666;
}

.single-post .icons ul.social-icons>li>a {
  padding-left: 15px;
}

.single-post .icons ul.social-icons>li>a>i {
  margin-right: 10px;
}

/* .single-post .title{ margin: 20px 0 15px; } */

.single-post .date {
  color: #6e74ef;
}

.single-post .read-more-btn {
  clear: both;
  margin-top: 10px;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, .15);
  border: 1px solid #FFAD4D;
  background: #fff;
  color: #FFAD4D;
}

.single-post .read-more-btn:hover {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, .15);
  background: #af82b6;
  color: #fff;
  border: 1px solid #af82b6;
}


/* POST STYLE TWO */

.post-style-2 .image-wrapper {
  padding-right: 30px;
}

.post-style-2 .post-details .icons {
  margin-top: 0;
}

.post-style-2 .post-details .icons .caegory-btn {
  margin: 0;
}


/* LOAD MORE BUTTON */

.blog-posts .load-more-btn {
  clear: both;
  margin: 70px 0 30px;
}


/* ---------------------------------
6. SIDEBAR STYLING
--------------------------------- */

.sidebar-section {
  margin-bottom: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.sidebar-section .title {
  margin-bottom: 19px;
  border-bottom: 1px solid #b1aaaa;
  padding: 10px 0px;
}

.sidebar-area img {
  max-width: 600px;
  border-radius: 10px;
}


/* ABOUT AUTHOR */

.about-author {
  margin-top: 30px;
  padding: 0 30px 0px;
}

.about-author .author-image {
  max-width: 100px;
  margin: 0px auto 0px;
  transform: translateY(-30px);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, .1);
}

.about-author .social-icons>li {
  margin: 0 10px;
  color: #888;
  font-size: 1.05em;
}

.about-author .author-name {
  margin: 10px 0;
}

.about-author .signature-image {
  margin: 20px auto 0;
  max-width: 120px;
}

.about-author .read-more-link {
  margin: 20px 0;
  font-size: .9em;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  color: #FFAD4D;
}

.about-author .read-more-link:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 1px;
  transition: all .2s;
  background: #FFAD4D;
}

.about-author .read-more-link:hover:after {
  transform: translateX(100%);
}


/* SEARCH AREA */

.src-area {
  line-height: 50px;
  position: relative;
}

.src-area input {
  display: block;
  width: 100%;
  padding: 0 50px 0 20px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #bbb;
}

.src-area .src-btn {
  position: absolute;
  top: 0;
  right: 20px;
  height: 50px;
}


/* NEWSLETTER AREA */
.about-author p {
  font-size: 13px;
}

.newsletter-area {
  padding: 20px;
  background: #29333C;
}

.newsletter-area .title {
  margin: 0;
  color: #fff;
}

.newsletter-area .email-input {
  width: 100%;
  margin: 15px 0;
  border: 0;
  padding: 10px 20px;
  background: #fff;
}


/* CATEGORY AREA */

.category-area .category {
  position: relative;
  margin-bottom: 20px;
}

.category img {
  height: 100px;
  width: 100%;
}

.category .name {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background: #1E9FA8;
  color: #fff;
  font-size: 11px;
}

.latest-post-p{
  font-size: 12px;
}

/* LATEST POSTS */

.latest-post {
  overflow: hidden;
  margin-bottom: 20px;
}

.latest-post .l-post-image {
  width: 65px;
  float: left;
}
.instagram-img img{
  height: 80px;
  width: 100%;
}
.latest-post .post-info {
  margin-left: 100px;
}

.latest-post .category-btn {
  padding: 5px 10px;
  margin-bottom: 5px;
}

.latest-post .date {
  margin-top: 5px;
  color: #888;
}


/* ADVERTISEMENT AREA */

.advertisement-img {
  position: relative;
}

.advertisement-img .discover-btn {
  position: absolute;
  bottom: 30px;
  padding: 15px 0;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  border-color: #fff;
  color: #fff;
}

.advertisement-img .discover-btn:hover {
  border-color: #FFAD4D;
}


/* INSTAGRAM */

.instagram-area {
  overflow: hidden;
  padding: 20px;
  border-radius: 10px;
}

.instagram-area .instagram-img>li {
  width: 30%;
  float: left;
  margin: 0 5px 5px 0;
}


/* TAGS */

.tags-area .tags {
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* padding: 20px; */
  /* border-top: 1px solid #b1aaaa; */
}

.tags-area .tags>li {
  float: left;
  margin: 0 5px 5px 0;
}

.tags-area .tags>li>a {
  padding: 4px 15px;
  font-size: 12px;
  border-radius: 5px;
}

.image-wrapper {
  overflow: hidden;
  position: relative;
}

.image-wrapper img {
  transition: all 500ms ease;
}

.image-wrapper img:hover {
  transform: scale(1.1);
}

.title {
  font-size: 18px;
}


header .main-menu li:nth-child(1) a {
    color: #ffad4d;
    background: #F2F3F4 !important;
}

.read-more{
  border: none;
  padding: 10px 0px;
  color: #436e99 !important;
}