<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="footer-section">
          <p class="copyright">
            Shayari &copy; 2018. All rights reserved | Design
            <i class="ri-heart-fill"></i> by
            <a href="" target="_blank">Swati Gupta</a>
          </p>
        </div>
        <!-- footer-section -->
      </div>
      <!-- col-lg-4 col-md-6 -->

      <div class="col-sm-6">
        <div class="footer-section">
          <ul class="social-icons">
            <li>
              <a href="#"><i class="ri-facebook-circle-line"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-twitter-line"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-instagram-line"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-vimeo-line"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-pinterest-line"></i></a>
            </li>
          </ul>
        </div>
        <!-- footer-section -->
      </div>
      <!-- col-lg-4 col-md-6 -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</footer>
