<header>

	<div class="top-menu">

		<ul class="left-area welcome-area">
			<li class="hello-blog">Islamic abhisekh Shayari blog</li>
			<li><a href="mailto:sayari@gmail.com">sayari@gmail.com</a></li>
		</ul>


		<div class="right-area">

			<div class="src-area">
				<form action="post">
					<input class="src-input" type="text" placeholder="Search">
					<button class="src-btn" type="submit"><i class="ri-search-line"></i></button>
				</form>
			</div>

			<ul class="social-icons">
				<li><a href="#"><i class="ri-facebook-circle-line"></i></a></li>
				<li><a href="#"><i class="ri-twitter-line"></i></a></li>
				<li><a href="#"><i class="ri-instagram-line"></i></a></li>
				<li><a href="#"><i class="ri-vimeo-line"></i></a></li>
				<li><a href="#"><i class="ri-pinterest-line"></i></a></li>
			</ul>
			

		</div>

	</div>
	
	<!-- top-menu -->

	<div class="middle-menu center-text"><a href="#" class="logo"><img src="static/img/sayer.png" alt="Logo Image"></a>
	</div>

	<div class="bottom-area">

		<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ri-menu-line"></i></div>

		<ul class="main-menu visible-on-click" id="main-menu">
			{% comment %} <li class="drop-down"><a href="#!" class="active12"><i class="ri-home-4-line"></i> HOME<i
						class="ri-arrow-drop-down-line"></i></a>

				<ul class="drop-down-menu">
					<li><a href="#">FEATURED</a></li>
					<li><a href="#">ABOUT</a></li>
					<li class="drop-down"><a href="#!">CATEGORIES<i class="ion-ios-arrow-right"></i></a>
						<ul class="drop-down-menu drop-down-inner">
							<li><a href="#">FEATURED</a></li>
							<li><a href="#">ABOUT</a></li>
							<li><a href="#">CATEGORIES</a></li>
						</ul>
					</li>
				</ul>

			</li> {% endcomment %}
			<li><a href="/">HOME</a></li>
			<li><a href="#">ABOUT</a></li>
			<li><a href="#">CONTACT</a></li>
			<li><a href="#">Allama Iqbal Shayari</a></li>
			<li><a href="#">Motivational Shayari</a></li>
			<li><a href="#">Self written</a></li>
			<li><a href="#">Hamd</a></li>
			<li><a href="#">Naat</a></li>
			<li><a href="#">Nazm</a></li>

		</ul><!-- main-menu -->

	</div><!-- conatiner -->
</header>